@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Dekers_Bold';
    src: url('../fonts/Dekers_Bold.woff') format('woff'),
        url('../fonts/Dekers_Bold.ttf') format('truetype'),
        url('../fonts/Dekers_Bold.svg#Dekers_Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook.woff') format('woff'),
        url('../fonts/GothamBook.ttf') format('truetype'),
        url('../fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,html{margin: 0;}
button{
    background: none;
    outline: none;
    border: 0;
    -webkit-appearance: none;
}
*{
    box-sizing: border-box;
    margin:0;
    user-select: none;
    -webkit-user-select: none;
}
p{font-size: 24px; line-height: 1.1;}
.color-white{color:#FFF;}
.color-pink-light{color:#D6BBEA;}
.font-gotham-bold{font-family: "Gotham"; font-weight: bold;}
.font-dekers-bold{font-family: 'Dekers_Bold'; font-weight: bold;}
.font-gotham-book{font-family: 'Gotham Book'; font-weight: normal;}
.text-center{text-align: center;}
.float-left{float: left;}
.clear-both{clear: both;}
.fixed-section{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.splash-page{
    background-image: url("../img/splash-page.png");
    background-size: cover;
    background-position: center;
    z-index: 10;
}
.splash-page .btn-splash{
    font-size: 65px;
    transform: rotateZ(10deg);
    position: absolute;
    right: 125px;
    bottom: 180px;
    cursor: pointer;
    transition: 0.3s color ease-out;
    -moz-transition: 0.3s color ease-out;
    -webkit-transition: 0.3s color ease-out;
}
.splash-page .btn-splash:hover{color:#000;}
.istructions-page, .time-is-over-page, .crush-page, .mission-complete-page, .ranking-page{
    z-index: 9;
}
.board{
    background-image: url("../img/board.png");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    display: table;
    padding: 140px 120px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    min-width: 60vw;
    min-height: 68vh;
}
.board h1{
    font-size: 65px;
    margin-bottom: 30px;
}
.board ul{
    counter-reset: contatore;
    -webkit-appearance: none;
    list-style: none;
    padding-left: 0;
}
.board ul li{
    margin-bottom: 25px;
    position: relative;
    background-image: url("../img/list-style-icon.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: auto 100%;
    padding-left:75px;
    display: table;
}
.board ul li:before{
    content: counter(contatore);
    counter-increment: contatore;
    position: absolute;
    left:0;
    font-size: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
}

.board ul li i{
    background-size: contain;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    background-position: center;
}

.first-item-icon{
    background-image: url("../img/list-icon-1.png");
}
.second-item-icon{
    background-image: url("../img/list-icon-2.png");
}
.third-item-icon{
    background-image: url("../img/power-icon.png");
}
.board ul li p{
    display: table-cell;
    padding-left:20px;
}
.btn-default{
    background-image: url("../img/btn-start.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 24px;
    line-height: 3;
    color: #532E70;
    width:280px;
    line-height: 60px;
    position: absolute;
    right: 120px;
    bottom:140px;
    margin-top:20px;
    cursor: pointer;
}
.parag-retry{
    position: absolute;
    left: 120px;
    bottom: 140px;
    max-width: 490px;
    font-size: 28px;
    padding-left:150px;

}
.timer-power-page{
    z-index: 8;
}
.timer-box{
    border-top: 18px solid #764099;
    display: table;
    padding-top: 30px;
}
.timer-box>div{
    background-color:rgba(255,255,255,0.16);
    padding:3px 10px 0px 30px;
    min-width: 300px;
}
.label-timer{
    margin-bottom: 10px;
}
.label-timer p{
    font-size: 20px;
    line-height: 1;
}
.second-timer{
    
}
.second-timer p{
    font-size: 56px;
    line-height: 1;
    padding-bottom: 3px;
}
.second-timer p:after, .time-complete:after{
    content: "’’";
}
.second-timer span{ display: inline-block; text-align: left;}
.timer-power-page footer{
    position: absolute;
    bottom:0;
    left:0; right:0;
    padding: 20px 30px;
}
.timer-power-page footer .power-box{
    float:left;
    display: table;
}
.timer-power-page footer p{
    float:left;
    margin-left:25px;
    line-height: 40px;
    margin-top:25px;
}
.timer-power-page footer .power-box .box-icon{
    background-image: url("../img/power-icon.png");
    width:75px;
    height:90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float:left;
   
}
.timer-power-page footer .power-box .box-icon.enabled{
    animation: bounce 1s ease-in-out infinite ;
    -webkit-animation: bounce 1s ease-in-out infinite ;
}
@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
}
.timer-power-page footer .power-box .power-loading{
    float:left;
    width:320px;
    position: relative;
    padding:3px 0;
    height: 40px;
    margin: 25px 30px;
}

.timer-power-page footer .power-box .power-loading>span{
    height: 100%;
    display: block;
    background-image: url("../img/power-progress.png");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.timer-power-page footer .power-box .box-icon.disabled{
    filter: grayscale(100%);
    animation:none;
    -webkit-animation: none;
}
.timer-power-page footer .power-box .power-loading>span.disabled{
    filter: grayscale(100%);
}
.timer-power-page footer .power-box .power-loading:before{
    content: "";
    display: block;
    background-image: url("../img/progress-before.png");
    background-size: auto 40px;
    left: -12px;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
}
.timer-power-page footer .power-box .power-loading:after{
    content: "";
    display: block;
    background-image: url("../img/progress-after.png");
    background-size: auto 40px;
    right: -12px;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
}
.img-alert{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: table;
    width: 100%;
    opacity: 0;
    transition: 0.15s all linear;
}
.img-alert img{
    max-width: 40%;
}
.img-alert.visible{
    opacity: 0.8;
}

.time-is-over-icon{
    max-width: 100px;
    margin-right:20px;
}
.brackets-box{
    position: relative;
    padding: 5px 30px;
}
.brackets-box:before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:25px;
    display: block;
    background-image: url("../img/bracket-open.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.brackets-box:after{
    content: "";
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    width:25px;
    display: block;
    background-image: url("../img/bracket-closed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.brackets-box p{font-size: 34px;}
.brackets-box p>span{
    font-size: 50px;
}

.crush-page .brackets-box{
    margin-left: 120px;
}
.crash-icon{
    max-width: 140px;
    margin-right:20px;
    margin-top:-30px;
    margin-left: 0px;
}
.timer-icon, .list-icon{
    max-height: 70px;
    margin-right: 15px;
}
.time-complete{
    font-size: 70px;
    line-height: 70px;
}
.mission-complete-page .brackets-box{
    margin-left: 20px;
}
.mission-complete-page .brackets-box p{
    line-height: 70px;
}
.mission-complete-page p.color-white{
    font-size: 40px;
}
.parag-coming-soon{
    position: absolute;
    left: 120px;
    bottom: 140px;
    max-width: 50%;
}
.parag-coming-soon .color-pink-light{
    font-size: 34px;
}
.parag-coming-soon small{
    font-size:24px;
}
.ranking-page .brackets-box{
    margin-left:25px;
    display: none;
}
.ranking-box{
    padding-left: 110px;
    margin-top:25px;
}
.ranking-box .time-complete
{
    font-size: 40px;
    line-height: 1.2;
    padding-left:0;
}
.daily-record{
    opacity:0;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.daily-record.visible{
    opacity:1;
}
.ranking-position{
    font-size: 28px;
    line-height: 70px; 
    margin-right:10px;
}